<div class="row mt-2 mb-2" *ngFor="let r of this.transformedPlaces; let ri = index;">
  <div *ngFor="let p of r; let pi = index" class="col-md-3">
    <div (click)="cardSelected(ri, pi)" class="card text-center" style="cursor: pointer">
      <img class="card-img-top" src="https://via.placeholder.com/40.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ p }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
